@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-dark-bg dark:text-white transition-colors duration-300 font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}